/* Applies to everything */
* {
	box-sizing: border-box;
}
body {
	font-family: Times New Roman, Times, serif;
	margin: 0px;
}
p {
	font-size: 16px; /* This should be overwritten by the media queries */
}
.page p {
	text-indent: 1vw; /* Also overwritten by media queries */
}
h1 {
	font-size: 32px;
	text-align: center;
}
h2 {
	font-size: 20px;
	text-align: center;
}

/* Menu and Header */
ul.menu {
	color: black;
	background-color: white;
	padding-inline-start: 0px;
}
ul.menu li {
	list-style: none;
}
ul.menu li > a > div {
	font-size: 1.5vw;
	text-align: center;
	margin: auto;
	margin-bottom: 0.5vw;
	border: 0.05vw solid black;
}
ul.menu li > a > div:hover {
	background-color: #888888;
}
ul.menu li > a:link, ul.menu li > a:visited {
	color: black;
}

@media (max-width: 792px) {
	ul.menu li {

	}
}
@media (min-width: 793px) {
	ul.menu {
		float: none;
	}
	ul.menu li {
		width: 50%;
		float: left;
	}
	ul.menu li:nth-child(1) {
		clear: both;
		width: 100%;
	}
	ul.menu li > a > div {
	}
	.chapter {
		float: left;
		width: 100%;
	}
	ul.menu li.full-width {
		width: 100%;
	}
}


/* Classes specific to the book */
.subtitle {
	font-style: italic;
}
.chapter .subtitle { /* For use with chapter subtitles like "One Month Later" */
	text-align: center;
}
.sectionbreak { /* Meant to be used with <div class="sectionbreak">***</div> */
	font-weight: bold;
	text-align: center;
}
/* Less than a page width * 1.5 (5.5*1.5 inches) */
@media (max-width: 792px) {
	.chapter {
		padding: 3%;
		background-image: url("./Paper.jpg");
		background-size: 300px;
		border: 1px solid black;
		color: black;	}
	.page p {
		text-indent: 3.5vw;
	}
}
/* Between 5.5*1.5 inches and 5.5*3 */
@media (min-width: 793px) and (max-width: 1320px) {
	.page { /* Applies to a overarching div, which contains sub-elements */
		margin: auto;
		margin-top: 5%;
		padding: 5%;
		width: 50%;
		height: 71.2vw;
		background-image: url("./Paper.jpg");
		background-size: 300px;
		border: 1px solid black;
		color: black;
	}
	.page p {
		font-size: 1.25vw;
		text-indent: 2vw;
	}
	.chapter h1 {
		font-size: 2vw;
	}
}
/* Greater than 5.5*3 inches */
@media (min-width: 1321px) {
	.page { /* Applies to a overarching div, which contains sub-elements */
		margin: auto;
		margin-top: 5%;
		padding: 5%;
		width: 33.33%;
		height: 47.5vw;
		/* height: 68.7vw; */
		background-image: url("./Paper.jpg");
		background-size: 500px;
		border: 1px solid black;
		color: black;
	}
	.page p {
		font-size: 0.75vw;
		text-indent: 1vw;
	}
	.chapter h1 {
		font-size: 2vw;
	}
}