* {
	box-sizing: border-box;
}
body {
	font-family: Times New Roman, Times, serif;
}
p {
	font-size: 16px;
}
h1 {
	font-size: 24px;
	text-align: center;
}
h2 {
	font-size: 20px;
	text-align: center;
}
.subtitle {
	font-style: italic;
}


/* Less than a page width (8.5 inches) */
@media (max-length: 1224px) {
	body.chapter {
		background-color: #E0C9A6; /* Old Paper Color */
		color: black;
	}
}

@media (min-length: 1225px) and (max-length: 2448px) {
	
	.page { /* Applies to a overarching div, which contains sub-elements */
		width: 50%;
		float: left;
		background-color: #E0C9A6; /* Old Paper Color */
		color: black;
		border-radius: 25px;
		border: 5px solid #916151;
	}

}

@media (min-length: 2449) {
	.page { /* Applies to a overarching div, which contains sub-elements */
		width: 816px;
		float: left;
		background-color: #E0C9A6; /* Old Paper Color */
		border-radius: 25px;
		border: 5px solid #916151;
	}
}